{
    "openapi": "3.1.0",
    "info": {
      "title": "CoinMarketCap API",
      "version": "1.0.0",
      "description": "API для работы с данными о криптовалютах"
    },
    "servers": [
      {
        "url": "https://pro-api.coinmarketcap.com/v1"
      }
    ],
    "paths": {
      "/cryptocurrency/listings/latest": {
        "get": {
          "summary": "Получить последние данные о криптовалютах",
          "operationId": "getLatestCryptocurrencyListings",
          "parameters": [
            {
              "name": "start",
              "in": "query",
              "description": "Начальная позиция выборки",
              "required": false,
              "schema": {
                "type": "integer"
              }
            },
            {
              "name": "limit",
              "in": "query",
              "description": "Количество возвращаемых записей",
              "required": false,
              "schema": {
                "type": "integer"
              }
            },
            {
              "name": "convert",
              "in": "query",
              "description": "Валюта, в которую будут конвертированы данные",
              "required": false,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Успешный ответ",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/CryptoListingResponse"
                  }
                }
              }
            },
            "400": {
              "description": "Некорректный запрос"
            },
            "401": {
              "description": "Неверный или отсутствующий API-ключ"
            },
            "429": {
              "description": "Превышение лимита запросов"
            }
          },
          "security": [
            {
              "ApiKeyAuth": []
            }
          ]
        }
      }
    },
    "components": {
      "securitySchemes": {
        "ApiKeyAuth": {
          "type": "apiKey",
          "in": "header",
          "name": "X-CMC_PRO_API_KEY"
        }
      },
      "schemas": {
        "CryptoListingResponse": {
          "type": "object",
          "properties": {
            "status": {
              "type": "object",
              "properties": {
                "timestamp": { "type": "string" },
                "error_code": { "type": "integer" },
                "error_message": { "type": ["string", "null"] },
                "elapsed": { "type": "integer" },
                "credit_count": { "type": "integer" }
              }
            },
            "data": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": { "type": "integer" },
                  "name": { "type": "string" },
                  "symbol": { "type": "string" },
                  "slug": { "type": "string" },
                  "cmc_rank": { "type": "integer" },
                  "last_updated": { "type": "string" },
                  "quote": {
                    "type": "object",
                    "properties": {
                      "price": { "type": "number" },
                      "volume_24h": { "type": "number" },
                      "percent_change_1h": { "type": "number" },
                      "percent_change_24h": { "type": "number" },
                      "market_cap": { "type": "number" },
                      "last_updated": { "type": "string" }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  