import requests
import json

# Сохраните OpenAPI описание в JSON файле или подключите его как словарь
openapi_spec = {
    "openapi": "3.1.0",
    "info": {
        "title": "CoinMarketCap API",
        "description": "API для получения информации о криптовалютах, включая рыночные данные и котировки.",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://pro-api.coinmarketcap.com/v1",
            "description": "Основной сервер CoinMarketCap API"
        }
    ],
    "paths": {
        "/cryptocurrency/listings/latest": {
            "get": {
                "operationId": "getLatestCryptocurrencyListings",
                "summary": "Получение списка последних криптовалют.",
                "parameters": [
                    {"name": "start", "in": "query", "schema": {"type": "integer", "example": 1}},
                    {"name": "limit", "in": "query", "schema": {"type": "integer", "example": 10}},
                    {"name": "convert", "in": "query", "schema": {"type": "string", "example": "USD"}}
                ]
            }
        }
    },
    "components": {
        "securitySchemes": {
            "apiKeyAuth": {
                "type": "apiKey",
                "in": "header",
                "name": "X-CMC_PRO_API_KEY"
            }
        }
    }
}

# Извлечение URL из OpenAPI описания
base_url = openapi_spec["servers"][0]["url"]
endpoint = "/cryptocurrency/listings/latest"
full_url = f"{base_url}{endpoint}"

# Параметры для запроса
params = {
    "start": 1,
    "limit": 10,
    "convert": "USD"
}

# Заголовки
headers = {
    "X-CMC_PRO_API_KEY": "125ec6dc-759b-463a-ba53-16801acb9f6aI",  # Замените на ваш API-ключ
    "Content-Type": "application/json"
}

# Выполнение GET-запроса
try:
    response = requests.get(full_url, headers=headers, params=params)
    response.raise_for_status()  # Проверка на ошибки HTTP
    data = response.json()  # Преобразование ответа в JSON

    # Печать результата
    print(json.dumps(data, indent=4, ensure_ascii=False))  # Удобный формат вывода
except requests.exceptions.HTTPError as http_err:
    print(f"HTTP ошибка: {http_err}")
except Exception as err:
    print(f"Другая ошибка: {err}")
